@import "config";

.posts-list {
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
  align-items: center;

  .posts-item {
    display: grid;

    width: min(600px, 100vw);
    background-color: #f2f2f2;
    box-shadow: 0 0 5px 0 rgba(23, 23, 23, 0.2);
    border-radius: 10px;
    padding: 2em;
    text-align: left;

    .post-author {
      font-size: 0.8em;
      font-style: italic;
      margin-top: 0.5em;
    }

    .reaction-btns {
      margin-top: 0.5em;
      display: flex;
      gap: 0.5em;
      button {
        border: none;
        cursor: pointer;
        padding-inline-start: 0;
      }
    }
  }
}
